.cover__subtitle {
  display: flex;
  margin: 32px auto 0 auto;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media screen and (max-width: 1080px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 880px) {
  .cover__subtitle {
  }
}

@media screen and (max-width: 750px) {
  .cover__subtitle {
    margin-top: 24px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 554px) {
  .cover__subtitle {
    margin-top: 16px;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
