.header__logo {
  max-width: 176px;
  max-height: 52px;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .header__logo {
    max-width: calc((176px - 142px)/2 + 142px);
    max-height: calc((52px - 42px)/2 + 42px);
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 142px;
    max-height: 42px;
  }
}
