.header {
  display: flex;
  margin: 28px 48px 0 48px;
  justify-content: space-between;
}

@media screen and (max-width: 880px) {
  .header {
    margin: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 554px) {
  .header {
    margin: 16px 16px 0 16px;
  }
}
