.intro__text {
  margin: 40px 442px 0 148px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 1080px) {
  .intro__text {
    margin: 40px 286px 0 48px;
  }
}

@media screen and (max-width: 880px) {
  .intro__text {
    margin: 40px 24px 0 24px;
  }
}

@media screen and (max-width: 554px) {
  .intro__text {
    margin: 40px 16px 0 16px;
  }
}
