.intro__text {
  max-width: 690px;
  margin: 40px auto 0 148px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (max-width: 1080px) {
  .intro__text {
    margin-left: 48px;
  }
}

@media screen and (max-width: 880px) {
  .intro__text {
    max-width: 720px;
    margin: 40px auto 0 24px;
  }
}

@media screen and (max-width: 750px) {
  .intro__text {
    max-width: calc((690px/2 - 288px)/2 + 288px);
  }
}

@media screen and (max-width: 554px) {
  .intro__text {
    margin: 40px auto 0 16px;
    max-width: 288px;
  }
}
