.intro__title {
  margin: 92px 442px 0 148px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

@media screen and (max-width: 1080px) {
  .intro__title {
    margin: 92px 286px 0 48px;
  }
}

@media screen and (max-width: 880px) {
  .intro__title {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 554px) {
  .intro__title {
    margin: 64px 16px 0 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
